html {
       margin:0;
       padding:0;}

body { 
       font-family: 'Open Sans', sans-serif;   
       font-size: 15px;}

h1 { 
       font-size: 200%;}

#review-navigation {
       color: red;}
			  
#review-navigation li { 
       display: inline;}
	
#main {
float:left;
width:70%;}

#sidebar {
float:right;
width:20%;
}	
	   
img.floatLeft { 
       float: left; 
       margin:6px; 
}
